/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of CSS Reset */

/* defining the website colors and fonts */
:root {
  --bs-primary: #f4f4f4;
  --bs-secondary: #333333;
  --bs-accent: #007b7e;
  --bs-body-font-family: "Montserrat";
}

body {
  font-family: var(--bs-body-font-family);
}

/* Main section styling */
.about-banner {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: var(var(--bs-secondary));
}

.about-content {
  width: 80vw;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.about-featured-image {
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.about-featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Tablet */
@media only screen and (max-width: 900px) {
  .about-banner {
    height: 250px;
  }

  .about-content {
    width: 90vw;
  }

  .about-featured-image {
    width: 300px;
    height: 500px;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .about-banner {
    height: 180px;
  }

  .about-content {
    grid-template-columns: 1fr;
  }

  .about-featured-image {
    margin: 0 auto;
    width: 250px;
    height: 100%;
  }
}
